.modal-add-lecturer {
    margin: 20px 12px 12px 12px;
}

.mb-1 {
    padding: 4px 0 !important;
}

.input-lecturer {
    font-size: 1.6rem !important;
}

.btn-action {
    display: flex;
    justify-content: flex-end;
    Button {
        font-size: 1.8rem !important;
        margin: 8px 10px 8px 8px;
    }
}
