.slide-item-1 {
    background: linear-gradient(to right, rgb(118, 18, 255), rgb(5, 178, 255));
    border-radius: 16px;
    height: 270px;
    overflow: hidden;
}

.slide-item-2 {
    background: linear-gradient(to right, rgb(104, 40, 250), rgb(255, 186, 164));
    border-radius: 16px;
    height: 270px;
    overflow: hidden;
}

.slide-item-3 {
    background: linear-gradient(to right, rgb(254, 33, 94), rgb(255, 148, 2));
    border-radius: 16px;
    height: 270px;
    overflow: hidden;
}
