.wrapper {
    width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sidebar-li {
    padding: 24px 4px;
    font-size: 1.4rem;

    &:focus-within {
        border-radius: 40px 20px;
        background-color: #e8ebed;
    }
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
