.wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 12px;
    overflow: hidden;
}

.info {
    width: 400px;
}

.btn {
    margin-top: 14px;
}

.image-item {
    position: relative;
    right: -44px;
    width: 420px;
}
