.wrapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        border-radius: 6px;
    }
}

.avatar {
    border-radius: 50%;
    height: 2em;
    object-fit: cover;
    width: 2em;
}
.name {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    margin-left: 12px;
    color: #292929;
}
