.heading-wrap {
    display: flex;
    justify-content: space-between;
    margin: 4px 30px;
}

.title {
    font-weight: 600;
    font-size: 24px;
}

//Course item
.course-item {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    object-fit: cover;

    &:hover .btn-course {
        display: flex;
        width: 150px;
        margin: auto;
        margin-top: 20%;
    }
}

.link-name {
    padding: 12px 0 8px 0;
    font-size: 1.6rem;
}

.students-count {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.quantity {
    margin-left: 4px;
}

//button

.btn-course {
    display: none;
}
