.list-course {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 20px 0;

    span {
        border-bottom: 2px solid var(--blue);
    }
}

.table-course {
    text-align: center;
}

.btn-action {
    display: flex;
    flex-direction: column;

    Button {
        margin-top: 20px;
    }
}

.btn-add {
    font-size: 1.4rem !important;
    font-weight: 400 !important;
}
