.wrapper {
    --search-border-radius: 20px;

    width: 100%;
    height: var(--default-layout-header-height, 66px);
    border-bottom: 1px solid #e8ebed;
    display: flex;
    justify-content: center;
    padding: 0 28px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}
.title {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 16px;
}
.search {
    display: flex;
    width: 420px;
    height: 40px;
    padding: 0 4px;
    border: 2px solid #e8e8e8;
    border-radius: var(--search-border-radius);

    input {
        flex: 1;
        height: 100%;
        color: var(--black);
        font-size: 1.4rem;
        background-color: transparent;
    }

    &:focus-within {
        border: 2px solid #454445;
    }
}
.search-btn {
    width: 30px;
    height: 32px;
    margin: 4px;
    cursor: pointer;
    background-color: #fff;
    border-top-left-radius: var(--search-border-radius);
    border-bottom-left-radius: var(--search-border-radius);
}
